.wrapper{
    display: grid;
    grid-template-rows: 1fr 6fr 2fr;
    grid-auto-columns: 80%;
    grid-auto-row: 20%;
    justify-items: stretch; /*put at the start of the element stretch is the default*/
    grid-gap: 1em;
    padding-right: 1%;
    padding-left: 21%;
    direction: ltr;
}

.wrapper > div {
    background: #eee;
    padding: 1em;
}

.wrapper > div:nth-child(odd){
    background: #ddd;
}