.wrapper{
    display: grid;
    grid-template-rows: 20% 55% 20%;
    grid-auto-columns: 80%;
    grid-auto-row: 10%;
    justify-items: stretch; /*put at the start of the element stretch is the default*/
    grid-gap: 2em;
    padding-right: 1%;
    padding-left: 21%;
    direction: ltr;
}

.wrapper > div {
    padding: 1em;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #a5dc86;
    background-color: white;
    min-height: 70%;
    max-height: 400px;
}



.group{
    display: grid;
    grid-template-columns: 15% 85%;
}
